<!DOCTYPE html>
<html>
  <head>
    <title>Yedus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header>
 <img url="http://image.noelshack.com/fichiers/2022/13/5/1648815361-logo-yedus.png" alt="">
</header>

    <%= yield %>
  </body>
</html>
